@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&display=swap');

/* GENARAL */
* {
    margin: 0;
    padding: 0;
    font-family: 'Gothic A1', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.dev {
    border: 1px solid red;
}

/* HEADER */
header {
    border: 1px solid #000;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
header > a {
    display: flex;
    align-items: center;
}
header > a > img {
    height: 80px;
    margin: 10px 20px;
}
header > nav {
    display: flex;
    align-items: flex-end;
}
header > nav > ul {
    display: flex;
    margin-bottom: 10px;
}
header > nav > ul > li {
    margin-right: 30px;
}



    /* MAIN */
main {
    border: 1px solid #000;
    padding: 50px 30px;
    background: url("../img/bg.webp") no-repeat center;
    background-size: cover;
}
main > h1 {
    text-align: center;
    font-size: 52px;
}
#pizzaContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
    padding: 150px;
}
.card {
    border: 1px solid #000;
    width: 400px;
    border-radius: 30px;
    z-index: 0;
    background-color: #fff;
}
.card:hover {
    box-shadow: 0px 0px 50px white;
}
.card > img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.card > h2 {
    text-align: center;
    font-size: 32px;
}
.card > p {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}




/* FOOTER */
footer {
    border: 1px solid #000;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
}
